name: Continuous Integration

on: [push, pull_request]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jspecify-reference-checker
    steps:
      - name: Check out jspecify-reference checker
        uses: actions/checkout@v4
        with:
          path: jspecify-reference-checker
      - name: Check out jspecify
        uses: actions/checkout@v4
        with:
          repository: jspecify/jspecify
          path: jspecify
# Clone the EISOP CF if necessary:
#      - name: Check out eisop/checker-framework
#        uses: actions/checkout@v4
#        with:
#          repository: eisop/checker-framework
#          path: checker-framework
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3
      - name: Build and Test
        run: ./gradlew build conformanceTests demoTest --include-build ../jspecify
# If a cloned EISOP CF is needed, use the following:
#        run: ./gradlew build conformanceTests demoTest --include-build ../jspecify --include-build ../checker-framework
        env:
          SHALLOW: 1
          JSPECIFY_CONFORMANCE_TEST_MODE: details
      - name: Check out jspecify/samples-google-prototype-eisop
        if: always()
        run: |
          git fetch --depth=1 origin samples-google-prototype-eisop
          git checkout samples-google-prototype-eisop
        working-directory: jspecify
      - name: Run Samples Tests
        if: always()
        run: ./gradlew jspecifySamplesTest --include-build ../jspecify --include-build ../checker-framework

  publish-snapshot:
    name: Publish Conformance Test Framework Snapshot
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.repository == 'jspecify/jspecify-reference-checker' && github.ref_name == 'main' && github.event_name == 'push'
    steps:
    - name: Check out the code
      uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Set up Gradle
      uses: gradle/gradle-build-action@v3
    - name: Publish snapshot
      run: ./gradlew publishConformanceTestFrameworkPublicationToSonatypeRepository
      env:
        ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.sonatype_username }}
        ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.sonatype_password }}
